TELEGRAM_BOT_TOKEN=8243695694:AAF46j3WrDsrYzZbiv2F0tIC95cOLC4dIM0

PORT=8092

# Shared database path — point all 3 bots to the same file on the server
DB_PATH=/home/your_user/shared/attendance.db

# Admin Telegram chat ID — only this user can use /broadcast
ADMIN_CHAT_ID=8695373914
